## ***actividad 4***

In [3]:
import pandas as pd

datos = {
    'nombre':   ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad':     [25, 30, 22, None, 28],
    'ciudad':   ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio':   [1200, 800, 300, 1150, None],
    'stock':    [10, 15, 5, 8, 0]
}

df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Guarda el dataset para ejercicios de lectura/escritura
df.to_csv('actividad_semana4.csv', index=True)
df

  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
d  Diego   NaN  Medellín    Laptop  1150.0      8
e    Eva  28.0      None    Tablet     NaN      0

## Punto 1

In [ ]:
print("SERIES")
# Crea Series desde lista
serie_lista = pd.Series([10, 20, 30, 40], index=['w', 'x', 'y', 'z'])
print("Series desde lista:")
print(serie_lista)

## Punto 2

In [ ]:
print("DATAFRAME ")

# Acceder a una columna
columna_nombre = df['nombre']
print("Columna 'nombre':")
print(columna_nombre)

# Usar loc para fila por etiqueta
fila_loc = df.loc['b']
print("Fila con loc['b']:")
print(fila_loc)

# Usar iloc para fila por posición
fila_iloc = df.iloc[1]
print("Fila con iloc[1]:")
print(fila_iloc)

## Punto 3

In [ ]:
print("OPERACIONES BÁSICAS")
# Agregar columna derivada
df['precio_descuento'] = df['precio'] * 0.9
print("Columna 'precio_descuento' agregada")

# Operación vectorizada
df['edad_futura'] = df['edad'] + 5
print("Columna 'edad_futura' agregada")

df[['nombre', 'precio', 'precio_descuento', 'edad', 'edad_futura']]

## Punto 4

In [ ]:
print("DATOS FALTANTES")

# Detecta nulos
print("Datos faltantes por columna:")
faltantes = df.isna().sum()
print(faltantes)

# Completa faltantes en edad con 0
df['edad'] = df['edad'].fillna(0)

# Completa faltantes en ciudad con 'Desconocido'
df['ciudad'] = df['ciudad'].fillna('Desconocido')

print("\nDespués de completar faltantes:")
print(df.isna().sum())
df

## Punto 5

In [ ]:
print("FILTRADO")

# Filtra filas con precio > 500
filtro_precio = df[df['precio'] > 500]
print("Productos con precio > 500:")
print(filtro_precio)

# Filtra productos iguales a 'Laptop' y stock mayor que 5
filtro_laptop = df[(df['producto'] == 'Laptop') & (df['stock'] > 5)]
print("Laptops con stock > 5:")
print(filtro_laptop)

## Punto 6

In [ ]:
print("ORDENAMIENTO")

# Ordena por edad ascendente
df_edad_asc = df.sort_values('edad')
print("Ordenado por edad (ascendente):")
print(df_edad_asc[['nombre', 'edad']])

# Ordena por precio descendente (ignorando nulos)
df_precio_desc = df.sort_values('precio', ascending=False, na_position='last')
print("\nOrdenado por precio (descendente):")
print(df_precio_desc[['nombre', 'producto', 'precio']])

## Punto 7

In [ ]:
print("ESTADÍSTICAS")

# Describe para columnas numéricas
estadisticas = df.describe()
print("Estadísticas descriptivas:")
print(estadisticas)

# Value_counts para columna producto
conteo_productos = df['producto'].value_counts()
print("Conteo de productos:")
print(conteo_productos)

## Punto 8

In [ ]:
print("ARCHIVOS")

# Guarda el dataset
df.to_csv('actividad_semana4.csv', index=True)
print("CSV guardado: actividad_semana4.csv")

# Lee el CSV creado
df_leido = pd.read_csv('actividad_semana4.csv', index_col=0)
print("Primeras filas del CSV leído:")
print(df_leido.head())

# Guarda nuevo CSV con columnas seleccionadas
df[['nombre', 'producto', 'precio']].to_csv('columnas_seleccionadas.csv')
print("CSV con columnas seleccionadas guardado")

## Punto 9

In [ ]:
print("INTEGRADO")

# Aplica descuento del 10% a precio
df['precio_descuento'] = df['precio'] * 0.9

# Filtra productos con stock > 5
df_filtrado = df[df['stock'] > 5]

# Ordena por precio_descuento
df_ordenado = df_filtrado.sort_values('precio_descuento')

# Guarda como inventario_procesado.csv
df_ordenado.to_csv('inventario_procesado.csv')
print("Inventario procesado guardado:")
print(df_ordenado[['nombre', 'producto', 'precio', 'precio_descuento', 'stock']])